{
    "bootstrap": false,
    "server": true,
    "datacenter": "aws",
    "data_dir": "/var/consul",
    "log_level": "INFO",
    "enable_syslog": true,
    "retry_join": ["provider=aws tag_key=Cluster tag_value=consul-cluster"]
}
